/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom styles
--------------------------------------------------- */
#body-type {
    background-color: #333333;
    margin: 0;
    padding 0;
}

div-type-1 {
    color: lightgrey;
    margin: 10px;
}

header-display-1 {
    margin: 40px;
}

.search {
    color: lightgray;
    margin-top: 10px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}

.search a {
    color: lightgray;
    display: block;
    width: 100%;
    line-height: 20px;
    text-decoration: none;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    /*border-right: 1px solid lightgrey;*/
}

.search a:hover {
    background-color: dimgrey;
}

.div-type-1 {
    padding-left: 50px;
    padding-bottom: 50px;
}

form#form-type {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.flight-information {
    color: lightgrey;
}

.flight-information .name-info input {
    width: 200px;
}

.flight-information .name-info label {
    padding-top: 15px;
}

.header-style-1 {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 0;
}

.flight-information .search-div {
    padding-top: 30px;
}
